# PyCharm IDE
.idea
__pycache__

# Data directory
data/

# Pretrained weights binaries
models/binaries

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Images in the ro2-Mujeres Latinoamericanas-Daiana lazzarin (2).jpg 
*.jpg
*.png
*.psd
